.App {
    text-align: center;
}

.machineCreation {
    display: block;
    outline: none;
    margin: 10px auto;
    padding: 5px 10px;
    border: none;
    font-size: 20px;
    color: white;
    border-left: 3px solid green;
    border-bottom: 3px solid #2a2a2a;
    background-color: #1e1e1e;
    transition: 0.3s ease-in-out;
}

.machineCreation:hover {
    background-color: #2a2a2a;
}

.machineCreation:focus {
    /* border: none;
    border-bottom: 3px solid green; */
    background-color: #2a2a2a;
}

.machineButton {
    display: inline-block;
    width: 50px;
    margin: 10px 10px;
    border: 2px solid green;
}

.machineInfo p {
    margin: 0 0;
    font-size: 14px;
}

.machineSubmit {
    width: unset;
}

.mainBody {
    color: white;
}

/* .mainBody p {
    font-size: 30px;
} */

.navbar-left {
    display: flex;
    justify-content: left;
    align-items: center;
}

.machineList {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.navbar-right {
    margin-left: auto;
    display: flex;
    justify-content: right;
    align-items: center;
}

.navRightLinks {
    align-items: center;
}

.navItem {
    list-style-type: none;
    text-decoration: none;
    padding-left: 20px;
    float: right;
}

.navItem a {
    text-decoration: none;
    color: white;
}

.App-header {
    padding: 20px 20px;
    display: flex;
    background-color: #2a2a2a;
    color: white;
}

.App-logo {
    height: 50px;
    padding-right: 15px;
}

.App-title {
    margin: 0px;
    font-size: 1.5em;
}

.createButton {
    margin: 20px 0;
}

.listButton {
    border: none;
    /* border: 3px solid green; */
    border-left: 3px solid green;
    background-color: #2a2a2a;
    color: white;
    padding: 10px 15px;
    font-size: 20px;
    transition: ease-in-out;
    transition-duration: 0.3s;
}

.listButton:hover {
    background-color: #1a1a1a;
}

.mainList {
    padding-top: 20px;
    width: 33%;
    font-size: 20px;
    color: white;
    margin: auto auto;
}

.mainList p {
    padding-bottom: 10px;
    border-bottom: 3px solid green;
}

.creationBody {
    margin: auto;
    width: 50%;
    font-size: 20px;
}

.machineRow {
    /* border: 3px solid green; */
}

.machineCol {
    padding: 10px 10px;
    border-collapse: collapse;
    border-left: 3px solid green;
    border-right: 3px solid green;
}

tr:nth-child(odd) td { background: #1e1e1e; }

.machineTable {
    margin: auto;
    border-collapse: collapse;
    background-color: #2a2a2a;
}

.machineTitle {
    font-size: 30px;
}

.downloadButton {
    margin-top: 20px;
}

.createInfo {
    outline: none;
    margin-bottom: 5px;
    font-size: 13px;
    width: 50%;
    border-left: none;
    border-bottom: 3px solid green;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.createExpand {
    background-color: #2a2a2a;
    font-size: 13px;
    width: 50%;
    margin: auto;
    animation: fadeIn ease 0.8s;
}

.createExpand p {
    margin: 2px 0;
}

.createCommand {
    background-color: #1a1a1a;
    /* width: 100px; */
}

.createExpand div {
    margin-bottom: 10px;
    border-bottom: 1px solid green;
}

.createAfter {
    font-size: 14px;
}